nav{
  background:rgba(0, 0, 0,0.3);
  box-shadow: 0 2px 15px 2px #30E3CA;
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  backdrop-filter: blur(15px);
  border-radius: 3rem;
}
nav a{
  padding: 0.9rem;
  background: transparent;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.2rem;
} 
nav a:hover{
  background:rgba(0, 0, 0,0.4);

}
nav a.active{
  background:var(--color-white);
  color: var(--color-bg);
}